@font-face {
  font-family: 'inter';
  src: local('inter'), url(./fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: inter,serif;
  background: linear-gradient(118.29deg, #CFC6FF -1.86%, #AA9CF0 55.59%, #DCD7F7 102.19%);
  min-height: 100vh;
}

.title {
  font-weight: 700;
  font-size: 40px;
  color: #FFF;
}

.titleComponent {
  padding-top: 80px;
  margin-bottom: 53px;
  display: flex;
  flex-direction: column;
}

.descr {
  color: #8458FF;
  font-size: 14px;
}
.descr-err {
  color: #8458FF;
  font-size: 14px;
  padding-top: 30px;
}

.backgroundSlider {
  /* position: absolute; */
  height: 30px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(18px);
  border-radius: 110px;
  margin-top: 10px;
}

.minTemp {
  margin-left: 0px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
}

.temp {
  /* margin-left: -200px; */
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #8458FF;
  margin-left: 165px;
  font-weight: 700;
  font-size: 16px;
}

.dayWeatherBackground {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(18px);
  max-width: 400px;
  height: 114px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weatherImg {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

.dateOfWeather {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-left: 15px;
  font-weight: 700;
}
.bigDate {
  font-size: 30px;
}

.minAndMaxTemps {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  padding-left: 90px;
  font-size: 10px;
  align-items: center;
}

.tempData {
  padding-left: 50px;
  color: #8458FF;
  font-size: 16px;
}
.tempData2 {
  padding-left: 45px;
  color: #8458FF;
  font-size: 16px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
}